@import './components/analytics/Analytics.css';
@import './components/menu/Menu.css';
@import './components/common/throbber/Throbber.css';
@import './components/RTable/RTable.css';

.App {
  margin: auto;
  width: 1000px;    
  text-align: left;
}
